:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --modal-overlay: #f4f4fd;
  --hero-background: #2e2f42;
  --white-background: #2e2f42;
  --mmodal-background: #ffffff;
  --fs-small: 18px;
  --fs-body: 16px;
  --fs-title: 56px;
  --fs-h2: 36px;
  --fs-medoi: 20px;
  --fs-extra-small: 12px;
  --fw-blackt: 800;
  --fw-boldt: 700;
  --fw-normalt: 400;
  --fw-mediumt: 500;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  background: #ffffff;
  box-sizing: border-box;
  margin: 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}
.second-word {
  color: #2e2f42;
}
.list-link {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.list-link:hover {
  color: #404bbf;
}

.list-link:focus {
  color: #404bbf;
}
.contact {
  font-style: normal;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}
.contact-link:hover {
  color: #404bbf;
}
.contact-link:focus {
  color: #404bbf;
}
.primary-section {
  background-color: #2e2f42;
  text-align: center;
}
.primary-title {
  letter-spacing: 0.02em;
  font-size: 56px;
  line-height: 1.07em;
  color: #ffffff;
  padding-top: 188px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

.list {
  list-style: none;
}

.section-title {
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11em;
  color: #2e2f42;
}
.team-section {
  background-color: #f4f4fd;
}
.team-member {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.sub-title {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sub-text {
  font-size: 16px;
  line-height: 1.5em;
  color: #434455;
  letter-spacing: 0.02em;
}
.footer-content {
  background-color: #2e2f42;
  height: 312px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.footer-logo {
  margin-left: 156px;
}

.footer-text {
  line-height: 1.5em;
  color: #f4f4fd;
  width: 264px;
  margin-left: 156px;
}
.footer-content .span {
  color: #f4f4fd;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
  color: #ffffff;
}

.button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  color: #434455;
}

.navigation-buttons {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.logo {
  margin-top: 1rem;
}

.list {
  display: flex;
  justify-content: center;
}
.list a {
  margin-left: 40px;
}

header {
  display: flex;
  justify-content: space-around;
}

.primary-section {
  height: 600px;
}

.first-section .list > li {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

section .list > li {
  margin: 0 12px;
}
.portfolio-list > li {
  border: 1px solid var(--accent, #e7e9fc);
  background: var(--WHITE, #fff);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  padding: 0;
  gap: 32px;
}

.portfolio-list a {
  margin: 0;
}
