:root {
  color: #434455;
  font-size: 18px;
  font-size: 16px;
  font-size: 56px;
  font-size: 36px;
  font-size: 20px;
  font-size: 12px;
  font-weight: 800;
  font-weight: 700;
  font-weight: 400;
  font-weight: 500;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  background: #ffffff;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
  color: #fff;
}
.section h2 {
  color: #2e2f42;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.section h3 {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.logo {
  font-style: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
}
.link {
  text-decoration: none;
}
.second-word {
  color: #2e2f42;
}
.list-link {
  color: #2e2f42;
  text-decoration: none;
  letter-spacing: 0.002em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.list-link:hover {
  color: #404bbf;
}

link:focus {
  color: #404bbf;
}

.hero-button {
  padding: 16px 32px;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #404bbf;
}
.button {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--CLOUD, #f4f4fd);
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
  color: #fff;
}

.footer-text {
  color: #f4f4fd;
}

.list {
  list-style: none;
}
